# Compiled Object files
**/*.o
**/*.obj
**/*.ko

# Executables
**/*.exe
**/*.out
**/*.app

# Build directories
**/build/
**/bin/
**/obj/

# Temporary files
**/*.tmp
**/*.log

# macOS specific
**/.DS_Store

# IDE specific
**/.vscode/
**/.idea/

# Dependency directories
**/libs/
**/vendor/

# Cryptographic sensitive files
**/*.key
**/*.pem

# Backup files
**/*.bak
**/*.backup